@using BankOfSimba.Models
@model BankAccount

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank of Simba</title>
    </head>
    <body>

        Name of animal: @Model.Name </br>
        Animal balance: @Model.Balance @Model.Currency </br>
        Type of Animal: @Model.AnimalType</br>

    </body>
    </html>